* {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  background-color: #fff;
  min-width: 1226px; }

.clearfix:after {
  display: block;
  content: "\20";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.container:before, .container:after {
  content: " ";
  display: table; }

.ir {
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  _zoom: 1; }

a {
  text-decoration: none;
  cursor: pointer; }

i {
  color: #ff6700;
  font-style: normal; }

li {
  list-style: none; }

.price {
  text-align: center;
  color: #ff6700; }

.banline {
  width: 1226px;
  margin: 0 auto; }

.hide {
  display: none; }

.show {
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

.tags {
  margin-bottom: 6px; }

.btn {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 158px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s; }

.btn-primary {
  background: #ff6700;
  border-color: #ff6700;
  color: #fff; }

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-checkbox {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin-left: 24px;
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer; }

.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background: #fff;
  color: #b0b0b0; }
  .site-header .container {
    width: 1226px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto; }
    .site-header .container .header-logo {
      width: 93px;
      margin-top: 26px;
      float: left; }
      .site-header .container .header-logo .logo {
        width: 48px;
        height: 48px;
        position: relative;
        display: block;
        width: 55px;
        height: 55px;
        overflow: hidden;
        color: #757575;
        _zoom: 1;
        background: url(../images/logo-footer.png) no-repeat 50% 50%; }
      .site-header .container .header-logo .logo:after {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 55px;
        height: 55px;
        content: '';
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transition: all .2s; }
    .site-header .container .header-title {
      float: left;
      margin-top: 26px; }
      .site-header .container .header-title h2 {
        font-size: 28px;
        line-height: 48px;
        font-weight: normal;
        color: #424242; }
    .site-header .container .topbar-info {
      margin-top: 30px;
      line-height: 40px;
      position: relative;
      float: right;
      height: 40px; }
      .site-header .container .topbar-info a {
        color: #757575; }
      .site-header .container .topbar-info .link {
        padding: 0 5px;
        float: left; }
      .site-header .container .topbar-info .sep {
        color: #e0e0e0;
        margin: 0;
        float: left;
        font-family: sans-serif; }

.page-main {
  padding-top: 38px;
  padding-bottom: 38px;
  background: #f5f5f5; }
  .page-main .container {
    width: 1226px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto; }
    .page-main .container .cart-empty {
      height: 273px;
      padding-left: 558px;
      margin: 65px 0 130px;
      background: url(../images/cart-empty.png) no-repeat 124px 0;
      color: #b0b0b0;
      overflow: hidden;
      _zoom: 1; }
      .page-main .container .cart-empty h2 {
        margin-top: 50px;
        margin-bottom: 0;
        margin: 70px 0 15px;
        font-size: 36px; }
      .page-main .container .cart-empty .login-desc {
        display: none;
        margin: 0 0 20px;
        font-size: 20px;
        color: #b0b0b0; }
      .page-main .container .cart-empty .btn-login {
        display: inline-block;
        margin-right: 10px; }
      .page-main .container .cart-empty .btn-primary {
        background: #ff6700;
        border-color: #ff6700;
        color: #fff; }
      .page-main .container .cart-empty .btn-shoping {
        background-color: #f5f5f5;
        color: #ff6700; }
    .page-main .container #J_cartBox .addonitems-tips {
      text-align: right;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
      line-height: 20px;
      margin-bottom: 13px; }
      .page-main .container #J_cartBox .addonitems-tips span {
        color: #ff6700;
        margin-left: 2px; }
        .page-main .container #J_cartBox .addonitems-tips span a {
          margin-left: 12px;
          color: rgba(0, 0, 0, 0.87); }
    .page-main .container #J_cartBox .cart-goods-list {
      background-color: #fff; }
      .page-main .container #J_cartBox .cart-goods-list .list-head {
        height: 70px;
        line-height: 70px;
        padding-right: 26px;
        color: #424242; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col {
          float: left; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-check {
          width: 110px; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-img {
          width: 120px; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-name {
          width: 380px; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-price {
          width: 140px;
          padding-right: 18px;
          text-align: center;
          color: #424242; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-num {
          width: 150px;
          text-align: center;
          color: #424242; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .col-total {
          width: 120px;
          padding-right: 81px;
          text-align: right; }
        .page-main .container #J_cartBox .cart-goods-list .list-head .cart-goods-list .col-action {
          width: 80px;
          text-align: center; }
      .page-main .container #J_cartBox .cart-goods-list .list-body .item-box {
        padding: 15px 26px 15px 0;
        border-top: 1px solid #e0e0e0; }
        .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table {
          display: table;
          border-collapse: collapse;
          border-spacing: 0; }
          .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row {
            display: table-row;
            *zoom: 1; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col {
              display: table-cell;
              vertical-align: middle;
              *float: left; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-check {
              width: 110px; }
              .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-check .icon-checkbox-selected {
                color: #fff;
                border-color: #ff6700;
                background-color: #ff6700; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-img {
              width: 80px;
              height: 80px;
              padding-right: 40px;
              overflow: hidden;
              _zoom: 1; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-name {
              width: 380px; }
              .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-name .name {
                width: 380px;
                margin: 0;
                line-height: 1;
                margin-top: 8px;
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                _zoom: 1; }
                .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-name .name a {
                  color: #424242; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-price {
              width: 140px;
              padding-right: 18px;
              text-align: center;
              color: #424242;
              font-size: 16px; }
              .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-price .pre-info {
                margin: 0;
                font-size: 12px;
                color: #b0b0b0; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-num {
              width: 150px;
              text-align: center;
              color: #424242;
              font-size: 16px; }
              .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-num .change-goods-num {
                width: 148px;
                height: 38px;
                border: 1px solid #e0e0e0;
                text-align: center;
                background-color: #fff;
                position: relative;
                zoom: 1; }
                .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-num .change-goods-num a {
                  float: left;
                  width: 38px;
                  height: 38px;
                  line-height: 38px;
                  color: #757575;
                  font-size: 20px;
                  -webkit-transition: all .3s;
                  transition: all .3s; }
                .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-num .change-goods-num input {
                  float: left;
                  width: 72px;
                  height: 38px;
                  line-height: 38px;
                  padding: 0;
                  border-width: 0;
                  color: #424242;
                  font-size: 16px;
                  text-align: center; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-total {
              width: 120px;
              padding-right: 81px;
              text-align: right;
              color: #ff6700;
              font-size: 16px; }
              .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-total .pre-info {
                margin: 0;
                font-size: 12px;
                color: #b0b0b0; }
            .page-main .container #J_cartBox .cart-goods-list .list-body .item-box .item-table .item-row .col-action {
              width: 80px;
              text-align: center;
              display: inline-block;
              *zoom: 1;
              *display: inline;
              width: 24px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              border-radius: 12px;
              color: #757575;
              font-size: 16px;
              -webkit-transition: all .3s;
              transition: all .3s; }
    .page-main .container #J_cartBox .raise-buy-box {
      margin: 20px 0; }
    .page-main .container #J_cartBox .cart-bar {
      height: 50px;
      text-align: right;
      background-color: #fff;
      -webkit-transition: background .3s ease, top .3s ease;
      transition: background .3s ease, top .3s ease;
      position: relative; }
      .page-main .container #J_cartBox .cart-bar .section-left {
        float: left; }
        .page-main .container #J_cartBox .cart-bar .section-left .back-shopping {
          line-height: 50px;
          margin-left: 32px; }
        .page-main .container #J_cartBox .cart-bar .section-left .cart-total {
          margin-left: 16px;
          padding-left: 16px;
          border-left: 1px solid #eee;
          color: #757575; }
        .page-main .container #J_cartBox .cart-bar .section-left .cart-coudan {
          color: #757575; }
          .page-main .container #J_cartBox .cart-bar .section-left .cart-coudan a {
            margin-left: 3px;
            color: #ff6700;
            transition: color .3s; }
      .page-main .container #J_cartBox .cart-bar .activity-money {
        padding: 0 13px;
        border-right: 1px solid #eee;
        color: #757575; }
      .page-main .container #J_cartBox .cart-bar .total-price {
        padding-left: 13px;
        color: #ff6700; }
        .page-main .container #J_cartBox .cart-bar .total-price em {
          font-style: normal;
          font-size: 30px; }
      .page-main .container #J_cartBox .cart-bar .no-select-tip {
        width: 200px;
        height: 48px;
        line-height: 48px;
        position: absolute;
        top: -58px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ff6700;
        color: #ff6700;
        text-align: center; }
        .page-main .container #J_cartBox .cart-bar .no-select-tip .arrow {
          display: block;
          width: 0;
          height: 0;
          border-style: solid dashed dashed;
          overflow: hidden;
          _zoom: 1;
          position: absolute;
          left: 50%; }
        .page-main .container #J_cartBox .cart-bar .no-select-tip .arrow-a {
          bottom: -8px;
          margin-left: -10px;
          border-width: 8px 10px 0;
          border-color: #ff6700 transparent transparent;
          z-index: 1; }
        .page-main .container #J_cartBox .cart-bar .no-select-tip .arrow-b {
          bottom: -7px;
          margin-left: -8px;
          border-width: 7px 8px 0;
          border-color: #fff transparent transparent;
          z-index: 2; }

footer {
  width: 100%;
  height: 272px;
  background: #fff; }
  footer .container {
    width: 100%;
    width: 1226px;
    margin: 0 auto; }
    footer .container .site-top {
      margin: 0 auto;
      padding: 27px 0;
      border-bottom: 1px solid #e0e0e0; }
      footer .container .site-top .site-ul {
        width: 1226px;
        float: left; }
        footer .container .site-top .site-ul .site-fir {
          border-left: none; }
        footer .container .site-top .site-ul li {
          float: left;
          width: 19.8%;
          height: 25px;
          border-left: 1px solid #e0e0e0;
          font-size: 16px;
          line-height: 25px;
          text-align: center; }
          footer .container .site-top .site-ul li span:hover {
            color: #ff6700; }
    footer .container .foot-link {
      padding: 40px 0;
      margin: 0 auto; }
      footer .container .foot-link .col-links {
        float: left;
        width: 160px;
        height: 112px;
        margin: 0; }
        footer .container .foot-link .col-links dt {
          margin: -1px 0 26px;
          font-size: 14px;
          line-height: 1.25;
          color: #424242; }
        footer .container .foot-link .col-links dt:hover {
          color: #ff6700; }
        footer .container .foot-link .col-links dd {
          margin: 10px 0 0;
          font-size: 12px; }
        footer .container .foot-link .col-links dd:hover {
          color: #ff6700; }
      footer .container .foot-link .col-concat {
        float: right;
        width: 251px;
        height: 112px;
        border-left: 1px solid #e0e0e0;
        text-align: center;
        color: #616161; }
        footer .container .foot-link .col-concat p {
          margin: 0 0 16px;
          font-size: 12px; }
        footer .container .foot-link .col-concat .phone {
          margin: 0 0 5px;
          font-size: 22px;
          line-height: 1;
          color: #ff6700 !important; }
        footer .container .foot-link .col-concat .btn-line-primary {
          border-color: #ff6700;
          background: #fff;
          color: #ff6700; }
        footer .container .foot-link .col-concat .btn-small {
          width: 118px;
          height: 28px;
          font-size: 12px;
          line-height: 28px; }

.site-info {
  position: relative;
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa; }
  .site-info .container {
    position: relative;
    width: 1226px;
    *zoom: 1;
    margin-right: auto;
    margin-left: auto; }
    .site-info .container .logo {
      width: 57px;
      height: 57px;
      margin-right: 10px;
      background: url(../images/logo-footer.png) no-repeat 50% 50%;
      position: absolute;
      top: -20px;
      left: 0; }
    .site-info .container .info-text {
      color: #b0b0b0;
      padding-left: 67px; }
      .site-info .container .info-text p {
        margin: 0;
        line-height: 18px; }
        .site-info .container .info-text p a {
          color: #757575; }
      .site-info .container .info-text a:hover {
        color: #ff6700; }
    .site-info .container p {
      color: #b0b0b0; }
    .site-info .container info-link {
      height: 28px;
      margin: 4px 0 0;
      padding-left: 67px; }
      .site-info .container info-link img {
        width: auto;
        height: 28px;
        margin-left: 0px;
        margin-bottom: 15px; }
    .site-info .container .trust {
      display: inline-block;
      width: 85px;
      height: 28px; }

/*# sourceMappingURL=shopcar.css.map */
